<html>
  {{/* ドット名前でgoから受け取れる */}}
  <h1>RelayTable</h1>
  <table border="1">
    Using Package:{{.name}}<br>
    RS address:{{.rsaddr}}
    <tr>
        <th>ID</th>
        <th>En1 address</th>
        <th>En2 address</th>
    </tr>
    {{/* ループ処理 */}}
    {{range .tunnels}}
     <tr>
        <th>{{.Index}}</th>
        <th>{{.En1}}</th>
        <th>{{.En2}}</th>
     </tr>
     {{end}}
     {{/* ループ処理終了 */}}
         
   </table>